<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-2">
                    <h1 class="denso-page-title"><i class="fa-solid fa-square-poll-vertical"></i>&nbsp;{{ 'HotSheets' | localize }}</h1>
                </div>
                <div class="col-10 text-right">
                    <dx-form colCount="12">
                         <!-- <dxi-item [label]="{ text: 'Status' | localize }" [colSpan]="3">
                            <div *dxTemplate>                               
                                <dx-select-box
                                    [(value)]="statusSelected"
                                    [items]="statusOptions"
                                    displayExpr="text"
                                    valueExpr="value"
                                    [placeholder]="'Select option'"
                                    [width]="200"
                                    showClearButton="true">
                                </dx-select-box>
                            </div>
                        </dxi-item> -->
                        
                        <!-- <dxi-item [label]="{ text: 'ShippingInstructionCode' | localize }" [colSpan]="3">
                            <div *dxTemplate>
                                <dx-text-box [(value)]="shippingCode" showClearButton="true"></dx-text-box>
                            </div>
                        </dxi-item>
                        <dxi-item [label]="{ text: 'Date' | localize }" [colSpan]="2">
                            <div *dxTemplate>
                                <dx-date-box type="date" [(value)]="creationDate" showClearButton="true"> </dx-date-box>
                            </div>
                        </dxi-item>                         -->
                       
                    </dx-form>
                </div>
            </div>
        </div>
    </section>
    <section class="content px-2">
        <div class="container-fluid">
            <div class="col-12">
                <div class="card">
                    <div class="card-body grid-content" [busy]="isTableLoading">
                       <!-- Leyenda de colores -->
                        <!-- Leyenda de colores -->                        
                        <div class="leyenda-colores">
                            <span class="color-cuadro" style="background-color: #fafbfd;"></span> Hoy                            
                            <span class="color-cuadro" style="background-color: #FFF59D;"></span> Ayer
                            <span class="color-cuadro" style="background-color: #FFE0B2;"></span> Hace 2 días
                            <span class="color-cuadro" style="background-color: #FFCDD2;"></span> Hace 3 días 
                            <span class="color-cuadro" style="background-color: #f08989;"></span> Más de 4 días
                            
                        </div>
                        <dx-data-grid
                            keyExpr="hotSheetId"
                            [dataSource]="hotSheets"
                            [allowColumnReordering]="false"
                            [allowColumnResizing]="false"
                            [columnAutoWidth]="true"
                            (onInitNewRow)="onInitNewRow($event)"
                            (onSaving)="onSavingHotSheet($event)"
                            (onEditCanceling)="onEditCanceling($event)"                           
                            (onEditingStart)="onEditingStart($event)"                           

                            [showBorders]="true"
                            [noDataText]="'NoDataText' | localize"
                            [rowAlternationEnabled]="true"
                            (onExporting)="exportGrid($event)"
                            (onRowPrepared)="personalizarFila($event)"
                            [groupPanel]="{ visible: true }" [grouping]="{ autoExpandAll: true }"                            
                            
                        >
                            <dxo-scrolling mode="none"></dxo-scrolling>
                            <dxo-paging [pageSize]="20"></dxo-paging>
                            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[20, 50, 100]"></dxo-pager>
                            <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>
                            <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>                             
                            <dxo-export [enabled]="true" [formats]="['xlsx', 'pdf']"> </dxo-export>                            
                            

                            <dxo-editing mode="popup" [allowUpdating]="true" [useIcons]="true" [allowAdding]="false" [allowDeleting]="false" >
                                <dxo-popup [title]="'HotSheetInfo' | localize" [showTitle]="true" [width]="1050" [height]="700"> 
                                  
                                </dxo-popup>                                
                                <dxo-form colCount="1">
                                  
                                    <dxi-item [colSpan]="1">
                                        <div *dxTemplate>
                                            <dx-tab-panel  
                                            [animationEnabled]="true"                                            
                                            [swipeEnabled]="true">
                                                
                                                <dxi-item [title]="'HotSheet' | localize" > 
                                                    <div class="tab-content">                                       
                                                        <dx-form labelLocation="top" colCount="2">
                                                            <dxi-item [label]="{ text: 'DeliveryOrder' | localize }" [colSpan]="2">                                                        
                                                                <div *dxTemplate>
                                                                    <dx-text-box 
                                                                    [(value)]="hotSheetChanges.deliveryOrder"
                                                                    [readOnly]="!enabledEditInfo">
                                                                    </dx-text-box>
                                                                </div>
                                                                <dxi-validation-rule type="required"></dxi-validation-rule>
                                                            </dxi-item>

                                                            <dxi-item [label]="{ text: 'TrafficContainerFX' | localize }" [colSpan]="2">
                                                                <div *dxTemplate>
                                                                    <dx-text-box 
                                                                        [(value)]="hotSheetChanges.trafficContainerFX"
                                                                        [readOnly]="!enabledEditInfo">
                                                                    </dx-text-box>
                                                                </div>
                                                                <dxi-validation-rule type="required"></dxi-validation-rule>
                                                            </dxi-item>
                                                            <dxi-item [label]="{ text: 'UnitNumber' | localize }" [colSpan]="2">
                                                                <div *dxTemplate>
                                                                    <dx-text-box 
                                                                        [(value)]="hotSheetChanges.unitNumber"
                                                                        [readOnly]="!enabledEditInfo">
                                                                    </dx-text-box>
                                                                </div>
                                                                <dxi-validation-rule type="required"></dxi-validation-rule>
                                                            </dxi-item>
                        
                                                            <dxi-item [label]="{ text: 'TransportMode' | localize }" [colSpan]="1">
                                                                <div *dxTemplate>
                                                                    <dx-select-box
                                                                        displayExpr="description"
                                                                        valueExpr="id"
                                                                        [(value)]="hotSheetChanges.transportModeId"
                                                                        [items]="transportMode"
                                                                        [searchEnabled]="true"
                                                                        [readOnly]="!enabledEditInfo">                                                                    
                                                                    </dx-select-box>
                                                                </div>
                                                                <dxi-validation-rule type="required"></dxi-validation-rule>
                                                            </dxi-item>
                        
                                                            <dxi-item [label]="{ text: 'ShortageShift' | localize }" [colSpan]="1">
                                                                <div *dxTemplate>
                                                                    <dx-select-box
                                                                        displayExpr="description"
                                                                        valueExpr="id"
                                                                        [(value)]="hotSheetChanges.shortageShiftId"
                                                                        [items]="shortageShift"
                                                                        [searchEnabled]="true"
                                                                        searchMode="contains"
                                                                        [readOnly]="!enabledEditInfo">
                                                                    </dx-select-box>
                                                                </div>
                                                                <dxi-validation-rule type="required"></dxi-validation-rule>
                                                            </dxi-item>                                    
                                                            <dxi-item [label]="{ text: 'EtaDNMX' | localize }" [colSpan]="1">
                                                                <div *dxTemplate>
                                                                    <dx-date-box 
                                                                        type="date" 
                                                                        [(value)]="hotSheetChanges.etaDNMX" 
                                                                        showClearButton="true"
                                                                        [readOnly]="!enabledEditInfo">
                                                                    </dx-date-box>
                                                                </div>
                                                            </dxi-item>
                                                            <dxi-item [label]="{ text: 'RealShortageDate' | localize }" [colSpan]="1">
                                                                <div *dxTemplate>
                                                                    <dx-date-box 
                                                                        type="date" 
                                                                        [(value)]="hotSheetChanges.realShortageDate" 
                                                                        showClearButton="true"
                                                                        [readOnly]="!enabledEditInfo">
                                                                    </dx-date-box>
                                                                </div>
                                                                <dxi-validation-rule type="required"></dxi-validation-rule>
                                                            </dxi-item>
                        
                                                            <dxi-item [label]="{ text: 'Shortage' | localize }" [colSpan]="2">
                                                                <div *dxTemplate>
                                                                    <dx-date-box
                                                                        placeholder="0:00:00"
                                                                        type="time"
                                                                        [showClearButton]="true"
                                                                        [useMaskBehavior]="true"
                                                                        [value]="timeShortage"
                                                                        (onValueChanged)="onReasonChanged($event)"
                                                                        displayFormat="HH:mm:ss"
                                                                        [inputAttr]="{ 'aria-label': 'Time' }"
                                                                        [readOnly]="!enabledEditInfo">                                                                    
                                                                    </dx-date-box>
                                                                </div>
                                                            </dxi-item>

                                                        </dx-form>
                                                    </div>       
                                                </dxi-item>
                                                <dxi-item [title]="'Comments' | localize">
                                                    <div class="tab-content">
                                                        <dx-form colCount="2">
                                                            <dxi-item [label]="{ text: '' | localize }" [colSpan]="2">                                    
                                                                <div *dxTemplate>
                                                                    <table class="table table-striped table-sm">
                                                                        <thead>
                                                                            <tr>
                                                                                <th width="25%">{{ 'Author' | localize }}</th>
                                                                                <th>{{ 'CreationDate' | localize }}</th>
                                                                                <th>{{ 'Department' | localize }}</th>
                                                                                <th>{{ 'Comments' | localize }}</th>
                                                                                <th>&nbsp;</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr *ngFor="let commentItem of hotSheetComments">
                                                                                <td>
                                                                                    <strong>{{ commentItem.creatorFullName }}</strong>
                                                                                </td>
                                                                                <td style="white-space: nowrap;">{{ commentItem.creationTime | date:'yyyy-MM-dd' }}</td>
                                                                                <td nowrap>{{ commentItem.department }}</td>
                                                                                <!-- <td nowrap>{{ commentItem.comments }}</td>                                                                                 -->
                                                                                <td nowrap [innerHtml]="commentItem.comments | safeComment"></td>                                                                                  
                                                                                <td nowrap>
                                                                                   
                                                                                    <!-- <dx-button
                                                                                        stylingMode="contained"
                                                                                        [text]="'View' | localize"
                                                                                        icon="search"
                                                                                        type="success"
                                                                                        [width]="130"
                                                                                        [height]="28"
                                                                                        class="dx-button-ml"
                                                                                        (click)="viewFile(fileItem)"
                                                                                        *ngIf="documentViewerExtensionsSupported.includes(fileItem.extension)"
                                                                                    >
                                                                                    </dx-button> -->
                                                                                    <!-- <dx-button
                                                                                        stylingMode="contained"
                                                                                        [text]="'Delete' | localize"
                                                                                        icon="trash"
                                                                                        type="default"
                                                                                        [width]="130"
                                                                                        [height]="28"
                                                                                        class="dx-button-ml"
                                                                                        (click)="deleteFile(fileItem)"                                                                                >
                                                                                    </dx-button> -->
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>    
                                                            </dxi-item>
                                                        </dx-form>
                                                    </div>
                                                </dxi-item>
                                                <dxi-item [title]="'Notes' | localize">
                                                    <div class="tab-content">
                                                        <dx-form colCount="2">
                                                        <dxi-item [label]="{ text: 'Notes' | localize }" [colSpan]="2">                                    
                                                            <div *dxTemplate>
                                                                <dx-html-editor height="400px" 
                                                                    [(value)]="hotSheetChanges.pcComments"
                                                                    [readOnly]="!enabledEditInfo">
                                                                    <dxo-toolbar [multiline]="true">
                                                                        <dxi-item name="undo"></dxi-item>
                                                                        <dxi-item name="redo"></dxi-item>
                                                                        <dxi-item name="separator"></dxi-item>
                                                                        <dxi-item
                                                                            name="size"
                                                                            [acceptedValues]="['8pt', '10pt', '12pt', '14pt', '18pt', '24pt', '36pt']"
                                                                            [options]="{ inputAttr: { 'aria-label': 'Font size' } }"
                                                                        ></dxi-item>
                                                                        <dxi-item
                                                                            name="font"
                                                                            [acceptedValues]="[
                                                                                'Arial',
                                                                                'Courier New',
                                                                                'Georgia',
                                                                                'Impact',
                                                                                'Lucida Console',
                                                                                'Tahoma',
                                                                                'Times New Roman',
                                                                                'Verdana'
                                                                            ]"
                                                                            [options]="{ inputAttr: { 'aria-label': 'Font family' } }"
                                                                        ></dxi-item>
                                                                        <dxi-item name="separator"></dxi-item>
                                                                        <dxi-item name="bold"></dxi-item>
                                                                        <dxi-item name="italic"></dxi-item>
                                                                        <dxi-item name="strike"></dxi-item>
                                                                        <dxi-item name="underline"></dxi-item>
                                                                        <dxi-item name="separator"></dxi-item>
                                                                        <dxi-item name="orderedList"></dxi-item>
                                                                        <dxi-item name="bulletList"></dxi-item>
                                                                        <dxi-item name="separator"></dxi-item>
                                                                        <dxi-item name="separator"></dxi-item>
                                                                        <dxi-item name="color"></dxi-item>
                                                                        <dxi-item name="background"></dxi-item>
                                                                        <dxi-item name="separator"></dxi-item>
                                                                        <dxi-item name="link"></dxi-item>
                                                                        <dxi-item name="image"></dxi-item>
                                                                        <dxi-item name="separator"></dxi-item>
                                                                    </dxo-toolbar>
                                                                    <dxo-media-resizing [enabled]="true"> </dxo-media-resizing>
                                                                    <dxo-image-upload [tabs]="['file', 'url']" fileUploadMode="base64"> </dxo-image-upload>
                                                                </dx-html-editor>
                                                            </div>
                                                            <dxi-validation-rule type="required"></dxi-validation-rule>
                                                        </dxi-item>
                                                        </dx-form>
                                                    </div>
                                                </dxi-item>
                                                <dxi-item [title]="'Documents' | localize" >
                                                    <div class="tab-content">   
                                                        <dx-form colCount="2">
                                                            <dxi-item [label]="{ text: '' | localize }" [colSpan]="2">                                    
                                                            
                                                            <div *dxTemplate>
                                                                <table class="table table-striped table-sm">
                                                                    <thead>
                                                                        <tr>
                                                                            <th width="50%">{{ 'FileName' | localize }}</th>
                                                                            <th>{{ 'FileSize' | localize }}</th>
                                                                            <th>{{ 'UploadedBy' | localize }}</th>
                                                                            <th>&nbsp;</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr *ngFor="let fileItem of hotSheetFiles">
                                                                            <td>
                                                                                <strong>{{ fileItem.name }}</strong>
                                                                            </td>
                                                                            <td nowrap>{{ fileItem.length / 1024 / 1024 | number : '.2' }} MB</td>
                                                                            <td nowrap>{{ fileItem.uploadedBy }}</td>
                                                                            <td nowrap>
                                                                                <dx-button
                                                                                    stylingMode="contained"
                                                                                    [text]="'Download' | localize"
                                                                                    icon="download"
                                                                                    type="success"
                                                                                    [width]="130"
                                                                                    [height]="28"
                                                                                    class="dx-button-ml"
                                                                                    (click)="downloadFile(fileItem)"
                                                                                >
                                                                                </dx-button>
                                                                                <dx-button
                                                                                    stylingMode="contained"
                                                                                    [text]="'View' | localize"
                                                                                    icon="search"
                                                                                    type="success"
                                                                                    [width]="130"
                                                                                    [height]="28"
                                                                                    class="dx-button-ml"
                                                                                    (click)="viewFile(fileItem)"
                                                                                    *ngIf="documentViewerExtensionsSupported.includes(fileItem.extension)"
                                                                                >
                                                                                </dx-button>
                                                                                <dx-button
                                                                                    stylingMode="contained"
                                                                                    [text]="'Delete' | localize"
                                                                                    icon="trash"
                                                                                    type="default"
                                                                                    [width]="130"
                                                                                    [height]="28"
                                                                                    class="dx-button-ml"
                                                                                    (click)="deleteFile(fileItem)" 
                                                                                    [disabled]="!enabledEditInfo">
                                                                                </dx-button>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                                <div class="row uploader-buttons-section">
                                                                    <div class="col-md-1"></div>
                                                                    <div class="col-md-5">
                                                                        <input
                                                                            type="file"
                                                                            ng2FileSelect
                                                                            [uploader] ="uploaderHotSheet"      
                                                                            [disabled]="!enabledEditInfo"                                                                      
                                                                        />
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <dx-button
                                                                            stylingMode="contained"
                                                                            [text]="'UploadDocuments' | localize"
                                                                            icon="upload"
                                                                            type="default"
                                                                            [width]="230"
                                                                            class="dx-button-ml"
                                                                            (click)="saveDocuments()"                                                                            
                                                                            [disabled]="uploaderHotSheet.queue.length === 0"
                                                                            >
                                                                        </dx-button>
                                                                    </div>
                                                                </div>
                                                                <table class="table table-sm">
                                                                    <thead>
                                                                        <tr>
                                                                            <th width="50%">{{ 'FileName' | localize }}</th>
                                                                            <th>{{ 'FileSize' | localize }}</th>
                                                                            <th>{{ 'Actions' | localize }}</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr *ngFor="let item of uploaderHotSheet.queue">
                                                                            <td>
                                                                                <strong>{{ item?.file?.name }}</strong>
                                                                            </td>
                                                                            <td *ngIf="uploaderHotSheet.options.isHTML5" nowrap>
                                                                                {{ item?.file?.size / 1024 / 1024 | number : '.2' }} MB
                                                                            </td>
                                                                            <td nowrap>
                                                                                <button type="button" class="btn btn-danger btn-xs" (click)="item.remove()">
                                                                                    <span class="glyphicon glyphicon-trash"></span> {{ 'Remove' | localize }}
                                                                                </button>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                            </dxi-item>
                                                        </dx-form>     
                                                    </div>
                                                </dxi-item>
                                            </dx-tab-panel>
                                        </div>
                                    </dxi-item>
                                </dxo-form>
                            </dxo-editing>

                            <dxo-column-fixing [enabled]="true"></dxo-column-fixing> 
                                                        
                            <dxo-toolbar>
                                
                                <dxi-item location="before" locateInMenu="auto">
                                    <div *dxTemplate>
                                    <div style="display: flex; align-items: center; gap: 15px;">

                                         <!-- Select-box para agrupamiento -->
                                         <label class="lb-filter" style="margin: 0 8px 0 0;">{{ 'GroupBy' | localize }}:</label>
                                         <dx-select-box
                                         width="225"
                                         [items]="groupingValues"
                                         [inputAttr]="{ 'aria-label': 'Value' }"
                                         displayExpr="text"
                                         valueExpr="value"
                                         value="withoutGrouping"
                                         (onValueChanged)="groupChanged($event)">
                                         </dx-select-box>

                                         <!-- Campo de búsqueda -->
                                        <dx-text-box
                                        placeholder="Buscar..."
                                        [value]="searchValue"
                                        (onValueChanged)="onSearch($event)"
                                        width="200">
                                        </dx-text-box>

                                        <dx-button
                                            stylingMode="contained"
                                            [text]="'Search' | localize"
                                            icon="search"
                                            type="normal"
                                            [width]="120"
                                            (click)="refresh()"
                                            class="dx-button-ml"
                                        >
                                        </dx-button>
                                    </div>
                                    </div>
                                </dxi-item>

                                <dxi-item label="" [colSpan]="2">
                                    <div *dxTemplate>
                                       
                                    </div>
                                </dxi-item>

                                <dxi-item name="exportButton"></dxi-item> 
                            </dxo-toolbar>

                            <dxi-column [caption]="'Planner' | localize" style="text-align:justify !important;">
                                <dxi-column [caption]="'PlannerCode' | localize" dataField="plannerCode" [width]="90"></dxi-column>
                                <dxi-column [caption]="'PlannerName' | localize" dataField="plannerName" [width]="250"></dxi-column>
                            </dxi-column>    
                            <dxi-column [caption]="'Supplier' | localize">
                                <dxi-column [caption]="'SupplierCode' | localize" dataField="supplierCode" [width]="90"></dxi-column>
                                <dxi-column [caption]="'SupplierName' | localize" dataField="supplierName" [width]="150"></dxi-column>
                            </dxi-column>                            
                            <dxi-column [caption]="'PartNumberHS' | localize">
                                <dxi-column [caption]="'PartNumberCodeHS' | localize" dataField="partNumber" [width]="130"></dxi-column>
                                <dxi-column [caption]="'PartDescriptionHS' | localize" dataField="partDescription" [width]="250"></dxi-column>
                            </dxi-column>                                                    
                            <dxi-column [caption]="'InTransitQty' | localize" dataField="inTransitQty" [width]="100"></dxi-column>
                            <dxi-column [caption]="'DiaStockIn' | localize" dataField="diaStockIn" [width]="100"></dxi-column>
                            <dxi-column [caption]="'DiaLocation' | localize" dataField="diaLocation" [width]="100"></dxi-column>
                            <dxi-column [caption]="'CIGMAReceived' | localize" dataField="cigmaReceived" [width]="120"></dxi-column>
                            <dxi-column [caption]="'TransportMode' | localize">
                                <dxi-column [caption]="'TransportModeId' | localize" dataField="transportModeId" [width]="50"></dxi-column>
                                <dxi-column [caption]="'TransportModeName' | localize" dataField="transportModeName" [width]="250"></dxi-column>
                            </dxi-column>
                            
                            <dxi-column [caption]="'DeliveryOrder' | localize" dataField="deliveryOrder" [width]="150"></dxi-column>
                            <dxi-column [caption]="'TrafficContainerFX' | localize" dataField="trafficContainerFX" [width]="250"></dxi-column>
                            <dxi-column [caption]="'UnitNumber' | localize" dataField="unitNumber" [width]="150"></dxi-column>                            
                            <dxi-column
                                [caption]="'EtaDNMX' | localize"
                                dataField="etaDNMX"
                                [width]="150"
                                dataType="date"
                                format="yyyy-MM-dd"
                            ></dxi-column>
                            <dxi-column [caption]="'Status' | localize">
                                <dxi-column [caption]="'StatusId' | localize" dataField="statusId" [width]="50"></dxi-column>
                                <dxi-column [caption]="'StatusHotSheetName' | localize" dataField="statusHotSheetName" [width]="150"></dxi-column>                            
                            </dxi-column>
                            
                            
                            <dxi-column [caption]="'Shortage' | localize">
                                <dxi-column
                                [caption]="'RealShortageDate' | localize"
                                dataField="realShortageDate"
                                [width]="150"
                                dataType="date"
                                format="yyyy-MM-dd"
                                ></dxi-column>
                                <dxi-column [caption]="'ShortageShiftId' | localize" dataField="shortageShiftId" [width]="50"></dxi-column>
                                <dxi-column [caption]="'ShortageShiftName' | localize" dataField="shortageShiftName" [width]="150"></dxi-column>                            
                                <dxi-column [caption]="'ShortageTime' | localize" dataField="shortageVal" [width]="150"></dxi-column>                                                                  
                            </dxi-column>
                            <dxi-column [caption]="'ASN' | localize" dataField="asn" [width]="70"></dxi-column>
                            <dxi-column [caption]="'ExistComment' | localize" dataField="existComment" [width]="70"></dxi-column>
                            <!-- <dxi-column [caption]="'PCComments' | localize" dataField="pcComments" [width]="250"></dxi-column> -->
                            
                            <dxi-column
                            [caption]="'CreationDate' | localize"
                            dataField="creationDate"
                            [width]="130"
                            dataType="date"
                            format="yyyy-MM-dd HH:mm"                                
                            ></dxi-column>

                            <!-- Otras columnas -->
                            <dxi-column
                                [caption]="'' | localize"
                                dataField="creationDate"
                                [fixed]="true"
                                fixedPosition="left"
                                cellTemplate="creatioDateCellTemplateColor">
                                <div *dxTemplate="let info of 'creatioDateCellTemplateColor'">
                                    <div class="circle-color"
                                        [style.background-color]="getFlagColor(info.data.creationDate)">
                                    </div>
                                </div>                              
                            </dxi-column>

                            <dxi-column
                                [caption]="'Comments' | localize"
                                dataField="pcComments"
                                cellTemplate="pcCommentsCellTemplate"
                                [width]="500"
                                >
                            </dxi-column>
                            
                            <div *dxTemplate="let info of 'pcCommentsCellTemplate'"><div [innerHtml]="info.data.pcComments | safeComment"></div></div>

                            
                            <dxi-column type="buttons" [caption]="'Acciones' | localize" [alignment]="'left'">
                                <!-- Botones por defecto -->
                                <dxi-button name="edit"></dxi-button>
                                <dxi-button name="delete"></dxi-button>
                            
                                <!-- Botón personalizado para comentarios -->
                                <!-- Este boton de abajo se activa ya jala y es visible con condicion servira para validaciones con roles.-->
                                <!-- <dxi-button                                                                 
                                  hint="Agregar Comentario"                                  
                                  icon="comment"                                     
                                  [visible]="showCommentButtonExist"                                                                                                         
                                  [onClick]="viewComent.bind(this)">                                  
                                </dxi-button>   -->
                                <dxi-button                                                                 
                                    hint="Agregar Comentario"                                  
                                    icon="comment"                                                                         
                                    [onClick]="viewComent.bind(this)">                                  
                                </dxi-button>  
                                <!-- <dxi-button                                                                 
                                    hint="Agregar Comentario"                                  
                                    icon="fa fa-star"                                                
                                    class="star-button"                       
                                    [visible]="showCommentButtonNotExist"                                        
                                    [onClick]="viewComent.bind(this)">                                  
                                </dxi-button>  -->
                                <!-- Este boton de abajo se activa ya jala-->
                                <!-- <dxi-button                                                                 
                                    hint="Ya tiene comentario"                                  
                                    icon="fa fa-star"                                                
                                    class="star-button"                       
                                    [visible]="showCommentButtonExist"                                        
                                    >                                  
                                </dxi-button>   -->

                            </dxi-column>                                 
                        
                          <dxi-column                                   
                            [caption]="'' | localize"     
                            dataField="ExistComment"
                            [fixed]="true"
                            fixedPosition="left"
                            [cellTemplate]="'commentWithStarTemplate'"                            
                            >
                          </dxi-column>
                        
                          <!-- Plantilla personalizada para la columna -->
                          <div *dxTemplate="let info of 'commentWithStarTemplate'">
                            <div class="dx-button dx-button-icon">                                
                            
                                <!-- Mostrar estrella solo si ExistComment >= 0 -->
                                <i *ngIf="info.data.existComment >= 1" title="Ya tiene Comentarios" class="dx-icon fa fa-star fa-spin fa-3x custom-star-icon"  (click)="viewComent.bind(this)"></i>
                                <i *ngIf="info.data.existComment == 0" title="Sin Comentarios" class="dx-icon fa fa-star fa-spin fa-3x custom-star-icon-gray"  (click)="viewComent.bind(this)"></i>
                              </div>
                          </div>
                        
                            <!-- Sumatoria al pie de la tabla -->
                            <dxo-summary>
                                <dxi-total-item 
                                column="inTransitQty" 
                                summaryType="sum" 
                                valueFormat="fixedPoint">
                                </dxi-total-item>

                                <dxi-total-item 
                                column="diaStockIn" 
                                summaryType="sum" 
                                valueFormat="fixedPoint">
                                </dxi-total-item>

                                <dxi-total-item 
                                column="deliveryOrder" 
                                summaryType="sum" 
                                valueFormat="fixedPoint">
                                </dxi-total-item>

                                <dxi-total-item 
                                column="unitNumber" 
                                summaryType="sum" 
                                valueFormat="fixedPoint">
                                </dxi-total-item>

                                <!-- Sumatoria por grupo -->
                                <dxi-group-item 
                                column="deliveryOrder" 
                                summaryType="sum" 
                                valueFormat="fixedPoint" 
                                displayFormat="Total: {0}">
                            </dxi-group-item>

                            </dxo-summary>

                           
                        </dx-data-grid>
                    </div>
                    <div class="card-footer table-card-footer bg-light border-top">
                        <div class="row">
                            <div class="col-sm-4 col-12 text-sm-left text-center">
                                <button class="btn btn-sm btn-secondary" (click)="refresh()">
                                    <i class="fas fa-redo-alt"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <app-hotSheet-document-viewer-popup
        [showPopup]="showDocumentViewerPopup"
        [document]="documentViewerFileSelected"
        (onClose)="showDocumentViewerPopup = false"
    ></app-hotSheet-document-viewer-popup>

    <app-hotSheet-comments-popup
        [showPopup]="showCommentsPopup"
        [comment]="commentSelected"
        (onClose)="showCommentsPopup = false"
    ></app-hotSheet-comments-popup>

  

</div>
