<div [@routerTransition]>
<section class="content px-2">
<div class="container-fluid content">

<!-- 🔥 FILTROS + BOTONES -->
<div class="row mb-3 justify-content-center">

    <div class="col-md-8 d-flex justify-content-center align-items-center flex-wrap gap-2">

        <dx-date-range-box
            displayFormat="yyyy-MM-dd"
            [value]="dateRange"
            (onValueChanged)="onRangeDatesChanged($event)">
        </dx-date-range-box>

        <dx-button text="Refresh" icon="refresh" (click)="refresh()"></dx-button>

        <dx-button text="Excel" icon="xlsxfile" type="success" (click)="exportToExcel()"></dx-button>

        <dx-button text="PDF" icon="exportpdf" (click)="exportToPDF()"></dx-button>

    </div>

</div>

<!-- 🔥 GRAFICAS -->
<div class="row">

<!-- WH -->
<div class="col-lg-12">
<div class="card">

<!-- <div class="card-header custom-header d-flex justify-content-between align-items-center">
    <span>WH</span>

    <dx-button
        text="Hot Sheets - PDF"
        icon="exportpdf"
        stylingMode="outlined"
        type="default"
        (click)="exportChart('chart-wh')">
    </dx-button>

</div> -->

<div class="card-body chart-container" id="chart-wh">

    <ng-container *ngIf="showCharts">
   
        <dx-pie-chart
            [dataSource]="dashboard.wh"
            [diameter]="0.7"
            [animation]="animationConfig">

        <dxi-series argumentField="label" valueField="total">
            <!-- <dxo-label [visible]="true" position="columns" [customizeText]="customizePieLabel">
                <dxo-font size="7" weight="600"></dxo-font>         
            </dxo-label> -->
        
            <dxo-label
                [visible]="true"
                position="outside"
                [customizeText]="customizePieLabel">

                <dxo-connector
                    [visible]="true"
                    [width]="1"
                    color="#999">
                </dxo-connector>

                <dxo-font size="12" weight="600"></dxo-font>

            </dxo-label>
        </dxi-series>

        <dxo-legend verticalAlignment="top" horizontalAlignment="left" orientation="vertical"></dxo-legend>

        <dxo-tooltip [enabled]="true" [customizeTooltip]="customizeTooltip"></dxo-tooltip>

        </dx-pie-chart>

 </ng-container>
<div class="text-center mt-2">
    <strong>Total pendientes HS: {{ getTotal(dashboard.wh) }}</strong>
</div>

</div>
</div>
</div>

<!-- IE -->
<div class="col-lg-12">
<div class="card">

<!-- <div class="card-header custom-header d-flex justify-content-between align-items-center">
    <span>IE</span>

    <dx-button
        text="Import Export -PDF"
        icon="exportpdf"
        stylingMode="outlined"
        (click)="exportChart('chart-ie')">
    </dx-button>

</div> -->

<div class="card-body chart-container" id="chart-ie">

    <ng-container *ngIf="showCharts">
        <dx-pie-chart
                [dataSource]="dashboard.ie"
                [diameter]="0.7"
                [animation]="animationConfig">

            <dxi-series argumentField="label" valueField="total">
                <dxo-label
                    [visible]="true"
                    position="outside"
                    [customizeText]="customizePieLabel">

                    <dxo-connector
                        [visible]="true"
                        [width]="1"
                        color="#999">
                    </dxo-connector>

                    <dxo-font size="12" weight="600"></dxo-font>

                </dxo-label>
            </dxi-series>

            <dxo-legend verticalAlignment="top" horizontalAlignment="left" orientation="vertical"></dxo-legend>

            <dxo-tooltip [enabled]="true" [customizeTooltip]="customizeTooltip"></dxo-tooltip>

        </dx-pie-chart>
    </ng-container>

<div class="text-center mt-2">
    <strong>Total pendientes IE: {{ getTotal(dashboard.ie) }}</strong>
</div>
</div>
</div>
</div>

</div>
<div class="row">
<!-- STATUS -->
<div class="col-lg-12">
<div class="card">

<!-- <div class="card-header custom-header d-flex justify-content-between align-items-center">
    <span>STATUS</span>

    <dx-button
        text="Status - PDF"
        icon="exportpdf"
        stylingMode="outlined"
        (click)="exportChart('chart-status')">
    </dx-button>

</div> -->

<div class="card-body chart-container" id="chart-status">

     <ng-container *ngIf="showCharts">
        <dx-chart [dataSource]="dashboard.status" [animation]="animationConfig">

        <dxi-series name="Abierto" valueField="abierto" argumentField="area" type="stackedBar" color="#ff4d4d">
            <dxo-label [visible]="true" position="inside"></dxo-label>
        </dxi-series>

        <dxi-series name="Cerrado" valueField="cerrado" argumentField="area" type="stackedBar" color="#28a745">
            <dxo-label [visible]="true" position="inside"></dxo-label>
        </dxi-series>

        </dx-chart>
     </ng-container>


</div>
</div>
</div>

</div>

</div>
</section>
</div>